.link {
  display: flex;
  align-items: center;
  gap: 8px;

  span {
    transition: 0.2s opacity;
  }
}

.icon {
  opacity: 1;
  fill: var(--inverted-primary-color);
}

.collapsed {
  max-height: 24px;
  width: 100%;
  justify-content: center;

  span {
    width: 0;
    opacity: 0;
  }
}
