.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
}

.appName {
  width: var(--sidebar-width);
  padding-left: 16px;
}

.dropdown {
  margin-left: auto;
  margin-right: 16px;
}
