.ProfileCard {
  padding: 16px;
  border: 2px solid var(--inverted-bg-color);
  border-radius: var(--base-border-radius);
}

.loading,
.error {
  height: 300px;
}

.editing {
  border: 2px solid var(--inverted-secondary-color);
}
