name: linting, testing, building
on:
  pull_request:
    branches: [ main ]
jobs:
  pipeline:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 17.x ]
    steps:
      - uses: actions/checkout@v2
      - name: Staring Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: install modules
        run: npm ci
      - name: lint ts
        run: npm run lint:ts
        if: always()
      - name: lint scss
        run: npm run lint:scss
        if: always()
      - name: test
        run: npm run test:unit
        if: always()
      - name: build
        run: npm run build:prod
        if: always()
      - name: storybook build
        run: npm run storybook:build
        if: always()
      - name: loki test
        run: npm run test:ui:ci
        if: always()
